<div class="card-shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-25">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #ffffff !important;">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <form class="navbar-nav mr-auto mt-2 mt-lg-0">
              <span class="widget-title">
                {{ widgetConfiguration.name }} <i class="material-icons edit-icon" (click)="changeTitle()">edit</i>
              </span>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="transform: scale(.8)" [(ngModel)]="widgetConfiguration.size" (change)="updateSize($event)">
                <mat-button-toggle value="col-md-4">S</mat-button-toggle>
                <mat-button-toggle value="col-md-6">M</mat-button-toggle>
                <mat-button-toggle value="col-md-8">L</mat-button-toggle>
                <mat-button-toggle value="col-md-12">XL</mat-button-toggle>
              </mat-button-toggle-group>

            </form>

            <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
              <div class="form-group row" style="position: relative;margin-right: 30px;margin-left: 30px">
                <label class="col-form-label">Similarity-Grad:</label>
                <div class="col-sm-4">
                  <input id="similarityInput" min="30" max="100" name="grad" type="Number" class="form-control" [defaultValue]="similarityGrad"  ngModel>
                </div>
                <button type="button" class="btn btn-success" type = "submit" value = "submit">Apply</button>
              </div>
            </form>

            <div class="form-inline my-2 my-lg-0">



              <button mat-button (click)="close()">
                <i class="material-icons" style="font-size: 25px; position: relative; top: -2px;">
                  close
                </i>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
     <div class="row">
      <div  id="container"></div>
       <div style="float: right" class="col-md-4">
        <div class="form-group col-md-12">
          <label ><b>First Sentence:</b></label>
          <textarea class="form-control " rows="5" id="firstArea"></textarea>
          <label>
              Similarity:
            </label>
          <div class="progress">

             <div class="progress-bar" id="bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
          <label ><b>Second Sentence:</b></label>
          <textarea class="form-control" rows="5" id="secondArea"></textarea>
        </div>
      </div>


      </div>
</div>
  </div>


