.mat-button-toggle-checked {
  font-weight: bold;
}



.focus:focus-within {
  background-color: #50daff;
  font-weight: bold;
}

.focus:focus-visible {
  background-color:  #50daff;
  font-weight: bold;
}

