<div class="card-shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-25">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #ffffff !important;">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
              <span class="widget-title">
                {{ widgetConfiguration.name }} <i class="material-icons edit-icon" (click)="changeTitle()">edit</i>
              </span>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="transform: scale(.8)" [(ngModel)]="widgetConfiguration.size" (change)="updateSize($event)">
                <mat-button-toggle value="col-md-4" *ngIf="widgetConfiguration.sizesAvailable.indexOf('S') > -1">S</mat-button-toggle>
                <mat-button-toggle value="col-md-6" *ngIf="widgetConfiguration.sizesAvailable.indexOf('M') > -1">M</mat-button-toggle>
                <mat-button-toggle value="col-md-8" *ngIf="widgetConfiguration.sizesAvailable.indexOf('L') > -1">L</mat-button-toggle>
                <mat-button-toggle value="col-md-12" *ngIf="widgetConfiguration.sizesAvailable.indexOf('XL') > -1">XL</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="form-inline my-2 my-lg-0">
              <button mat-button class="mr-10" (click)="showConfig = false; showText = !showText" [class.activeState]="showText">
                <i class="material-icons" style="font-size: 25px; position: relative; top: -2px;">
                  subject
                </i>
              </button>

              <button mat-button class="mr-10" (click)="showText = false; showConfig = !showConfig" [class.activeState]="showConfig">
                <i class="material-icons" style="font-size: 25px; position: relative; top: -2px;">
                  settings
                </i>
              </button>

              <button mat-button (click)="close()">
                <i class="material-icons" style="font-size: 25px; position: relative; top: -2px;">
                  close
                </i>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="min-height: 550px;" *ngIf="!showConfig && !showText">
        <h3 class="text-center" *ngIf="error">
          Error parsing data!
        </h3>
        <ngx-charts-bar-vertical
          (select)="onClick($event)"
          [view]="undefined"
          [scheme]="colorScheme"
          [results]="arrData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          *ngIf="!error"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="row" *ngIf="showConfig">
      <div class="col-md-12">
        <h4>Anzahl Datenreihen</h4>
        <div class="p-10">
          <mat-slider style="width: 100%" [min]="2" [max]="30" [step]="1" [thumbLabel]="true" [(ngModel)]="config.elements" (ngModelChange)="render()"></mat-slider>
        </div>
      </div>
      <div class="col-md-12">
        <h4>Auswertungselement</h4>
        <mat-form-field>
          <select matNativeControl required [(ngModel)]="config.type" (ngModelChange)="render()">
            <option [value]="option" *ngFor="let option of options">{{ option }}</option>
          </select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="showText">
      <div class="col-md-4">
        <h4>Ausgangstext</h4>
      </div>
      <div class="col-md-8 text-right">
        <span *ngIf="highlight">Hervorheben: <strong>{{ highlight }}</strong> &mdash; <a href="#" (click)="resetHighlight($event)">Reset</a></span>
      </div>
      <div class="col-md-12">
        <div class="p-10" [innerHTML]="renderHighlighted(widgetConfiguration.selectedProcessingElements[0], ' '+highlight+' ')"></div>
      </div>
    </div>
  </div>
</div>
