/*Goethe-Uni Farbpalette:
  Primärfarben
    -Goethe-Blau: #007a99
    -Hellgrau:    #f0f0ed
    -Sandgrau:    #e0e8de
    -Dunkelgrau:  #30302d
  Sekundärfarben
    -Purple:      #960072
    -Grün:        #588b1e
    -Goethe-Blau: #007a99
    -Senfgelb:    #f0b600
*/

.corporateDesignN{
  background-color: #30302d;
}
